<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Video Center!{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    {{ vite_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app', {
            dependency: 'react'
        }) }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body
    style="
    {% if body is defined %}
        --color: {{ body.color }};
        --color-primary: {{ body.primary }};
    {% else %}
        --color: #081c56;
        --color-primary: #2e4574;
    {% endif %}
    {% if hero is defined %}
        --hero-figure: url('{{ hero.figure }}');
    {% endif %}
        "
    class="hero"
>
<header class="header container {% if hero is defined %}hero shadow{% else %}bordered{% endif %}">
    <nav>
        <a href="{{ path('app_home') }}" class="header-logo">
            <span
                class="hl">{% if app.user %}{{ app.user.firstname | first }}{{ app.user.lastname | first }}{% else %}My{% endif %}</span>
            <span>Hit</span>
        </a>

        <ul class="header-primary-nav">
            {% block navPrimary %}
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_video_create') }}">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22C6.477 22 2 17.523 2 12ZM12 4C9.87827 4 7.84344 4.84285 6.34315 6.34315C4.84285 7.84344 4 9.87827 4 12C4 14.1217 4.84285 16.1566 6.34315 17.6569C7.84344 19.1571 9.87827 20 12 20C14.1217 20 16.1566 19.1571 17.6569 17.6569C19.1571 16.1566 20 14.1217 20 12C20 9.87827 19.1571 7.84344 17.6569 6.34315C16.1566 4.84285 14.1217 4 12 4Z" fill="currentColor"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13 7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11H13V7Z" fill="currentColor"/>
                            </svg>

                            {{ 'video.add' | trans }}
                        </a>
                    </li>
                {% endif %}
            {% endblock %}
        </ul>

        <ul>
            {% block navSecondary %}{% endblock %}

            {% if app.user %}
                <li>
                    <a href="{{ path('app_account_me') }}">
                        <img
                            src="{{ vich_uploader_asset(app.user, 'imageFile') }}"
                            alt="{{ app.user.firstname }} {{ app.user.lastname }} Avatar"
                            width="32"
                            height="32"
                        >
                        {{ app.user.firstname }} {{ app.user.lastname }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 21C4.45 21 3.97933 20.8043 3.588 20.413C3.19667 20.0217 3.00067 19.5507 3 19V5C3 4.45 3.196 3.97933 3.588 3.588C3.98 3.19667 4.45067 3.00067 5 3H12V5H5V19H12V21H5ZM16 17L14.625 15.55L17.175 13H9V11H17.175L14.625 8.45L16 7L21 12L16 17Z"
                                fill="currentColor"/>
                        </svg>

                        {{ 'auth.logout' | trans }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 7L9.6 8.4L12.2 11H2V13H12.2L9.6 15.6L11 17L16 12L11 7ZM20 19H12V21H20C21.1 21 22 20.1 22 19V5C22 3.9 21.1 3 20 3H12V5H20V19Z"
                                fill="currentColor"/>
                        </svg>

                        {{ 'auth.login' | trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% if hero is defined %}
        {% if video is defined and video.premium and not app.user %}
            <a href="{{ path('app_login') }}" class="launch-video-btn"
               title="{{ 'auth.need_logged_in_to_see_video' | trans }}">
                <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40 30L90 60L40 90V30Z" fill="currentColor" fill-opacity="0.3" stroke="black"
                          stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
            {% elseif hero.video is defined %}
            <button type="button" class="launch-video-btn js-launch-video-btn" aria-label="Lancer la vidéo">
                <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40 30L90 60L40 90V30Z" fill="currentColor" fill-opacity="0.3" stroke="black"
                          stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>

            <iframe
                src="{{ hero.video }}?amp;controls=0&rel=0&enablejsapi=1"
                hidden
                title="YouTube video player"
                frameborder="0"
                allow="autoplay; encrypted-media;"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                class="js-yt-player"
                style="width: 100%; height: 100%"
            ></iframe>

            <script type="module">
                import {HeroVideo} from "{{ asset('scripts/hero.js') }}";

                let heroVideo = new HeroVideo();
                heroVideo.start();
            </script>
        {% else %}
            <div class="content-text">
                <h1 class="h3">{{ 'hero.title' | trans }}</h1>

                <h2 class="h1">
                    {{ 'hero.description' | trans }}
                </h2>

                <a class="btn btn-primary" href="#latest-videos">
                    {{ 'hero.cta' | trans }}
                </a>
            </div>
        {% endif %}
    {% endif %}
</header>

<main class="container {% if hero is defined %}shadow{% endif %}">
    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }}">
            {{ messages | join(". ") }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</main>
</body>
</html>
