{% extends 'base.html.twig' %}

{% block title %}
	{{ 'recipe.title.list' | trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'recipe.title.welcome' | trans }} ({{ totalRecipes }})</h1>

	<section class="row">
		{% for recipe in recipes %}
			<article
				class="card col-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-8 mr-4"
				style="min-height: 450px"
				data-type="post"
			>
				<form action="{{ path('app_recipe_unlike', { id: recipe.id }) }}" method="post"
					  class="d-inline-flex" id="recipe-{{ recipe.id }}-unlike" data-action="like">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('recipe_like') }}">
				</form>

				<form action="{{ path('app_recipe_like', { id: recipe.id }) }}" method="post" class="d-inline-flex"
					  id="recipe-{{ recipe.id }}-like" data-action="like">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('recipe_like') }}">
				</form>

				<h1 class="h2 vertical-align-middle" style="min-height: 20%;">
					<button type="submit" class="btn"
							form="recipe-{{ recipe.id }}-{{ recipe.hasLikeFrom(app.user) ? 'un' : '' }}like"
							title="{{ (recipe.hasLikeFrom(app.user) ? 'recipe.unlike.button.title' : 'recipe.like.button.title') | trans }}"
					>
						<output>{{ recipe.likes | length }}</output>

						<svg class="bi" width="16" height="32" aria-hidden="true">
							{% if recipe.hasLikeFrom(app.user) %}
								<use xlink:href="#like"></use>
							{% else %}
								<use xlink:href="#unlike"></use>
							{% endif %}
						</svg>
					</button>


					<a href="{{ path('app_recipe_show', { id : recipe.id, slug : recipe.slug }) }}">
						{{ recipe.title | u.truncate(20, "...", false) }}
					</a>
				</h1>
				{% if recipe.imageName %}
					<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" width="100%" height="300px"
						 alt="Photo recette"
						 style="min-height: 300px; object-fit: cover">
				{% endif %}
				<p class="py-2">
					{{ 'recipe.published_at_by' | trans({
						'%relativeDate%': recipe.createdAt | ago,
						'%user%': recipe.user.firstname ~ " " ~ recipe.user.lastname
					}) }}
				</p>
			</article>
		{% else %}
			<p>{{ 'recipe.norecord' | trans }}</p>
		{% endfor %}
	</section>

	<br>

	{{ knp_pagination_render(recipes, view_params: { align: 'center' }) }}
{% endblock %}
