{% extends 'base.html.twig' %}

{% block title %}
	{{ 'recipe.title.list' | trans }}
{% endblock %}

{% set totalRecipes = recipes | length %}

{% block body %}
	<h1>{{ 'recipe.title.welcome' | trans }} ({{ totalRecipes }})</h1>

	<section class="row">
		{% for recipe in recipes %}
			<article
				class="card col-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-8 mr-4"
				style="min-height: 450px"
				data-type="post"
			>
				<h1 class="h2 vertical-align-middle" style="min-height: 20%;">
					<a href="{{ path('app_recipe_show', { id : recipe.id, slug : recipe.slug }) }}">
						{{ recipe.title | u.truncate(20, "...", false) }}
					</a>
				</h1>
				{% if recipe.imageName %}
					<img src="{{ recipe.imageName }}" width="100%" height="300px"
						 style="min-height: 300px; object-fit: cover">
				{% endif %}
				<p class="py-2">
					{{ 'recipe.published_at_by' | trans({
						'%relativeDate%': recipe.createdAt | ago,
						'%user%': recipe.user.firstname ~ " " ~ recipe.user.lastname
					}) }}
				</p>
			</article>
		{% else %}
			<p>{{ 'recipe.norecord' | trans }}</p>
		{% endfor %}
	</section>
{% endblock %}
