{% extends "base.html.twig" %}

{# {% block title "#" ~ recipe.id ~ " " ~ recipe.slug %} #}
{% block title %}#{{ recipe.id }} {{ recipe.slug }}{% endblock %}

{% block body %}
	<article style="max-width: 80ch;" class="mx-auto">
		<header class="mb-4">
			<h1>{{ recipe.title }}!</h1>

			<a href="{{ path('app_recipe_index') }}" class="btn btn-secondary">
				{{ 'actions.back' | trans }}
			</a>

			{% if canAlter %}
				<a href="{{ path('app_recipe_edit', { id: recipe.id }) }}" class="btn btn-primary">
					{{ 'actions.edit' | trans }}
				</a>

				{# Attention Faille CSRF
				<a
					href="{{ path('app_recipe_delete', { id: recipe.id }) }}"
					class="btn btn-danger"
					onclick="return confirm('Voulez-vous vraiment supprimer cette recette?')"
				>
					{{ 'actions.delete' | trans }}
				</a>
				#}

				<form action="{{ path('app_recipe_delete', { id: recipe.id }) }}" method="POST" class="d-none"></form>
				<a
					href="#"
					class="btn btn-danger"
					onclick="return confirm({{ 'recipe.actions.hints.delete' | trans }}) && this.previousElementSibling.submit()"
				>
					{{ 'actions.delete' | trans }}
				</a>
			{% endif %}
		</header>

		{% if recipe.imageName %}
			<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}"
				 height="750%"
				 class="img-fluid"
				 alt="{{ 'recipe.title.title_illustration' | trans({
					 '%recipe_title%': recipe.title
				 }) }}"
			>
		{% endif %}

		<p>{{ recipe.content | nl2br }}</p>

		<p>
			{{ 'recipe.published_at_by' | trans({
				'%relativeDate%': recipe.createdAt | ago,
				'%user%': recipe.user.firstname ~ " " ~ recipe.user.lastname
			}) }}
		</p>
		<p>
			{{ 'recipe.updated_at' | trans({
				'%relativeDate%': recipe.updatedAt | ago,
			}) }}
		</p>

		<details>
			<summary>Debug</summary>
			{{ dump(recipe) }}
		</details>
	</article>

	<article style="max-width: 80ch;" class="my-5 mx-auto">
		<h2>Tous les commentaires</h2>

		<hr>

		{{ form_start(commentForm) }}
			{{ form_widget(commentForm.content) }}
			<button type="submit" class="btn btn-outline-primary my-2">
				{{ 'Commenter' | trans }}
			</button>
		{{ form_end(commentForm) }}

		<hr>

		<ul>
			{% for comment in recipe.comments %}
				<li>
					{{ comment.author.email }} a commenté:
					<blockquote>{{ comment.content }}</blockquote>
					<p>{{ comment.createdAt | ago }}</p>
				</li>
			{% endfor %}
		</ul>
	</article>
{% endblock %}
