{% extends "base.html.twig" %}

{# {% block title "#" ~ recipe.id ~ " " ~ recipe.slug %} #}
{% block title %}#{{ recipe.id }} {{ recipe.slug }}{% endblock %}

{% block body %}
	<article style="max-width: 80ch;" class="mx-auto">
		<h1>{{ recipe.title }}!</h1>

		{% if recipe.imageName %}
			<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}"
				 height="750%"
				 class="img-fluid"
				 alt="Illustration de la recette {{ recipe.title }}"
			>
		{% endif %}

		<p>{{ recipe.content | nl2br }}</p>

		<p>
			{{ 'recipe.published_at_by' | trans({
				'%relativeDate%': recipe.createdAt | ago,
				'%user%': recipe.user.firstname ~ " " ~ recipe.user.lastname
			}) }}
		</p>
		<p>
			{{ 'recipe.updated_at' | trans({
				'%relativeDate%': recipe.updatedAt | ago,
			}) }}
		</p>

		<footer>
			{% if canAlter %}
				<a href="{{ path('app_recipe_edit', { id: recipe.id }) }}" class="btn btn-primary">
					{{ 'actions.edit' | trans }}
				</a>

				{# Attention Faille CSRF
				<a
					href="{{ path('app_recipe_delete', { id: recipe.id }) }}"
					class="btn btn-danger"
					onclick="return confirm('Voulez-vous vraiment supprimer cette recette?')"
				>
					{{ 'actions.delete' | trans }}
				</a>
				#}

				<form action="{{ path('app_recipe_delete', { id: recipe.id }) }}" method="POST" class="d-none"></form>
				<a
					href="#"
					class="btn btn-danger"
					onclick="return confirm('Voulez-vous vraiment supprimer cette recette?') && this.previousElementSibling.submit()"
				>
					{{ 'actions.delete' | trans }}
				</a>
			{% endif %}

			<a href="{{ path('app_recipe_index') }}" class="btn btn-secondary">
				{{ 'actions.back' | trans }}
			</a>
		</footer>

		<details>
			<summary>Debug</summary>
			{{ dump(recipe) }}
		</details>
	</article>
{% endblock %}
