{% extends "base.html.twig" %}

{# {% block title "#" ~ recipe.id ~ " " ~ recipe.slug %} #}
{% block title %}#{{ recipe.id }} {{ recipe.slug }}{% endblock %}

{% block body %}
	<article style="max-width: 80ch;" class="mx-auto">
		<h1>{{ recipe.title }}!</h1>

		{% if recipe.imageName %}
			<img src="{{ recipe.imageName }}"
				 height="750%"
				 class="img-fluid"
			>
		{% endif %}

		<p>{{ recipe.content | nl2br }}</p>

		<p>
			Envoyé le
			<time>{{ recipe.createdAt | date('d/m/Y') }}</time>
		</p>
		<p>
			Mis à jour le
			<time>{{ recipe.updatedAt | date('d/m/Y h:i') }}</time>
		</p>

		<footer>
			<a href="{{ path('app_recipe_edit', { id: recipe.id }) }}" class="btn btn-primary">Editer</a>

			{# Attention Faille CSRF
			<a
				href="{{ path('app_recipe_delete', { id: recipe.id }) }}"
				class="btn btn-danger"
				onclick="return confirm('Voulez-vous vraiment supprimer cette recette?')"
			>
				Supprimer
			</a>
			#}

			<form action="{{ path('app_recipe_delete', { id: recipe.id }) }}" method="POST" class="d-none"></form>
			<a
				href="#"
				class="btn btn-danger"
				onclick="return confirm('Voulez-vous vraiment supprimer cette recette?') && this.previousElementSibling.submit()"
			>
				Supprimer
			</a>

			<a href="{{ path('app_recipe_index') }}" class="btn btn-secondary">Retour</a>
		</footer>

		<details>
			<summary>Debug</summary>
			{{ dump(recipe) }}
		</details>
	</article>
{% endblock %}
