{% extends 'base.html.twig' %}

{# {% form_theme createTodo 'bootstrap_5_layout.html.twig' %} #}

{% block title %}{{ 'todos.title' | trans }}{% endblock %}

{% block body %}
    <div class="page-todos">
        <section>
            <h1>{{ 'todos.actions.add' | trans }}</h1>

            {{ form_errors(createTodo) }}

            {{ form(createTodo) }}
        </section>

        <hr>

        <section>
            <h1>{{ 'todos.list' | trans }}</h1>


            <ol class="list-group">
                {% for taskName, todo in todos %}
                    <li class="list-group-item d-flex align-items-center">
                        <div class="flex-grow-1">
                            <strong>{{ taskName }}</strong>: {{ todo }}
                        </div>

                        <div class="d-flex gap-1">
                            <a href="{{ path('app_todo_edit', {'taskName': taskName}) }}" class="btn btn-info">
                                {{ 'actions.edit' | trans }}
                            </a>

                            <form action="{{ path('app_todo_remove', {'taskName': taskName}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">

                                <button type="submit" class="btn btn-danger">
                                    {{ 'actions.remove' | trans }}
                                </button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <hr>

        {{ form(clearTodos) }}
    </div>
{% endblock %}
