<section class="hero">
	<div class="hero-content">
		<h1>{{ hero.title }}</h1>

		<p>
			{{ hero.content | raw }}
		</p>

		<a href="{{ path(hero.action_link) }}" class="btn">
			{{ hero.action_text }}
		</a>
	</div>

	<div class="hero-img">
		<img src="{{ asset('img/football.png') }}" alt="Football">
	</div>
</section>
