{% extends "base.html.twig" %}

{% block title %}
	{{ 'recipe.title.edit' | trans }} {{ recipe.id }}
{% endblock %}

{% block body %}
	<article style="max-width: 80ch;" class="mx-auto">
		<h1>{{ 'recipe.title.edit' | trans }} n°{{ recipe.id }}</h1>
		<h2>
			<a href="{{ path('app_recipe_show', { id: recipe.id, slug: recipe.slug }) }}">
				{{ recipe.title }}
			</a>
		</h2>
		{{ form(myForm) }}
	</article>
{% endblock %}
