{% extends "base.html.twig" %}

{# {% block title "#" ~ recipe.id ~ " " ~ recipe.slug %} #}
{% block title %}#{{ recipe.id }} {{ recipe.slug }}{% endblock %}

{% block body %}
	<article style="max-width: 80ch;" class="mx-auto">
		<header class="mb-4">
			<h1>{{ recipe.title }}!</h1>

			<a href="{{ path('app_recipe_index') }}" class="btn btn-secondary">
				{{ 'actions.back' | trans }}
			</a>

			{% if canAlter %}
				<a href="{{ path('app_recipe_edit', { id: recipe.id }) }}" class="btn btn-primary">
					{{ 'actions.edit' | trans }}
				</a>

				{# Attention Faille CSRF
				<a
					href="{{ path('app_recipe_delete', { id: recipe.id }) }}"
					class="btn btn-danger"
					onclick="return confirm('Voulez-vous vraiment supprimer cette recette?')"
				>
					{{ 'actions.delete' | trans }}
				</a>
				#}

				<form action="{{ path('app_recipe_delete', { id: recipe.id }) }}" method="POST" class="d-none"></form>
				<a
					href="#"
					class="btn btn-danger"
					onclick="return confirm({{ 'recipe.actions.hints.delete' | trans }}) && this.previousElementSibling.submit()"
				>
					{{ 'actions.delete' | trans }}
				</a>
			{% endif %}
		</header>

		{% if recipe.imageName %}
			<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}"
				 height="750%"
				 class="img-fluid"
				 alt="{{ 'recipe.title.title_illustration' | trans({
					 '%recipe_title%': recipe.title
				 }) }}"
			>
		{% endif %}

		<p>{{ recipe.content | raw }}</p>

		<p>
			{{ 'recipe.published_at_by' | trans({
				'%relativeDate%': recipe.createdAt | ago,
				'%user%': recipe.user.firstname ~ " " ~ recipe.user.lastname
			}) }}
		</p>
		<p>
			{{ 'recipe.updated_at' | trans({
				'%relativeDate%': recipe.updatedAt | ago,
			}) }}
		</p>

		<details>
			<summary>Debug</summary>
			{{ dump(recipe) }}
		</details>
	</article>

	<section style="max-width: 80ch;" class="my-5 mx-auto">
		<h2>{{ 'comment.title' | trans | plural }}</h2>


		{% if app.user %}
			<hr>

			{{ form_start(commentForm) }}
			{{ form_widget(commentForm.content) }}
			{{ form_errors(commentForm.content) }}

			<button type="submit" class="btn btn-outline-primary my-2">
				{{ 'comment.actions.save' | trans }}
			</button>

			{{ form_end(commentForm) }}
		{% endif %}

		<hr>

		<div class="card">
			{% for comment in recipe.comments | reverse %}
				<article class="card-body">
					<h5 class="card-title">
						<img src="{{ vich_uploader_asset(comment.author, 'imageFile') }}" alt="Image profil"
							 class="rounded-full" style="width: 32px; height: 32px;">
						{{ comment.author.fullname }}
					</h5>

					<div class="d-flex gap-3 justify-content-between">
						<time class="h6 card-subtitle mb-2 text-body-secondary"
							  datetime="{{ comment.createdAt | date('Y-m-d\TH:i:sP') }}">
							{{ comment.createdAt | ago | capitalize }}
						</time>

						{% if app.user and app.user.id == comment.author.id %}
							<form action="{{ path('app_recipe_delete_comment', { cid: comment.id, rid: recipe.id }) }}"
								  method="post">
								<input type="hidden" name="_method" value="delete">
								<input type="hidden" name="_csrf_token" data-controller="csrf-protection"
									   value="{{ csrf_token('recipe_comment_delete') }}">
								<button type="submit" class="btn btn-sm btn-outline-danger">Supprimer le commentaire
								</button>
							</form>
						{% endif %}
					</div>

					<p class="card-text">
						{{ comment.content | nl2br }}
					</p>
				</article>
			{% endfor %}
		</div>
	</section>
{% endblock %}
