{% extends 'base.html.twig' %}

{% block title %}{{ 'account.title.show' | trans }}{% endblock %}

{% block body %}
	<div class="account-pag row">
		<div class="col-md-6 mx-auto text-center">
			<h1>{{ 'account.title.show' | trans }}</h1>

			{% if app.user.imageName %}
				<img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="Image profil" class="img-fluid">
			{% else %}
				<img src="{{ asset('images/default-avatar.png') }}" alt="Image profil" class="img-fluid">
			{% endif %}

			<p>{{ app.user.email }}</p>

			<h2>{{ app.user.firstname }} {{ app.user.lastname }}</h2>

			<p>{{ 'created_at' | trans }} {{ app.user.createdAt | date('d/m/y') }}</p>
			<p>
				<a href="{{ path('app_account_edit') }}" class="btn btn-primary btn-sm">
					{{ 'account.edit' | trans }}
				</a>
			</p>
		</div>
	</div>
{% endblock %}
