{% extends 'base.html.twig' %}

{% block title %}
    {{ video.title }}
{% endblock %}

{% block navPrimary %}
    {% if app.user == video.user %}
        <li>
            <a href="{{ path('app_video_edit', { id: video.id }) }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_19_14)">
                        <path
                            d="M9.67 22.37C9.69194 22.332 9.70349 22.2889 9.70349 22.245C9.70349 22.2011 9.69194 22.158 9.67 22.12C9.64794 22.0817 9.61573 22.0502 9.57691 22.029C9.53808 22.0078 9.49417 21.9978 9.45 22H3.5C3.36739 22 3.24021 21.9473 3.14645 21.8536C3.05268 21.7598 3 21.6326 3 21.5V17.5C3 17.3674 3.05268 17.2402 3.14645 17.1464C3.24021 17.0527 3.36739 17 3.5 17H11.5C11.6326 17 11.7598 17.0527 11.8536 17.1464C11.9473 17.2402 12 17.3674 12 17.5C11.9991 17.5273 12.0076 17.554 12.0239 17.5758C12.0403 17.5976 12.0636 17.6132 12.09 17.62C12.1167 17.6277 12.1452 17.626 12.1707 17.6151C12.1963 17.6041 12.2172 17.5847 12.23 17.56L15 12.43C15.0081 12.3904 15.0081 12.3496 15 12.31V1C15 0.734784 14.8946 0.48043 14.7071 0.292893C14.5196 0.105357 14.2652 0 14 0L1 0C0.734784 0 0.48043 0.105357 0.292893 0.292893C0.105357 0.48043 0 0.734784 0 1L0 23C0 23.2652 0.105357 23.5196 0.292893 23.7071C0.48043 23.8946 0.734784 24 1 24H8.65C8.69497 24.0001 8.73915 23.9881 8.77786 23.9652C8.81658 23.9424 8.84841 23.9095 8.87 23.87L9.67 22.37ZM12 14.5C12 14.6326 11.9473 14.7598 11.8536 14.8536C11.7598 14.9473 11.6326 15 11.5 15H3.5C3.36739 15 3.24021 14.9473 3.14645 14.8536C3.05268 14.7598 3 14.6326 3 14.5V10C3 9.86739 3.05268 9.74021 3.14645 9.64645C3.24021 9.55268 3.36739 9.5 3.5 9.5H11.5C11.6326 9.5 11.7598 9.55268 11.8536 9.64645C11.9473 9.74021 12 9.86739 12 10V14.5ZM12 7C12 7.13261 11.9473 7.25979 11.8536 7.35355C11.7598 7.44732 11.6326 7.5 11.5 7.5H3.5C3.36739 7.5 3.24021 7.44732 3.14645 7.35355C3.05268 7.25979 3 7.13261 3 7V2.5C3 2.36739 3.05268 2.24021 3.14645 2.14645C3.24021 2.05268 3.36739 2 3.5 2H11.5C11.6326 2 11.7598 2.05268 11.8536 2.14645C11.9473 2.24021 12 2.36739 12 2.5V7ZM15.16 15.79C15.1305 15.7745 15.0983 15.7651 15.0651 15.7623C15.0319 15.7594 14.9985 15.7633 14.9669 15.7735C14.9352 15.7838 14.9059 15.8002 14.8807 15.8219C14.8555 15.8437 14.8348 15.8702 14.82 15.9L10.7 23.63C10.6781 23.668 10.6665 23.7111 10.6665 23.755C10.6665 23.7989 10.6781 23.842 10.7 23.88C10.7242 23.9163 10.7569 23.9462 10.7952 23.9671C10.8336 23.988 10.8764 23.9993 10.92 24H14.92C14.9652 24.0013 15.0098 23.9897 15.0487 23.9667C15.0877 23.9437 15.1193 23.9102 15.14 23.87L18.39 17.78C18.4058 17.7511 18.4158 17.7194 18.4194 17.6867C18.4229 17.6539 18.4199 17.6208 18.4107 17.5892C18.4014 17.5576 18.3859 17.5282 18.3652 17.5026C18.3445 17.477 18.3189 17.4557 18.29 17.44L15.16 15.79ZM20.68 13.41C20.804 13.1765 20.8305 12.9034 20.7537 12.6504C20.6768 12.3974 20.5029 12.1851 20.27 12.06L18.5 11.12C18.2665 10.996 17.9934 10.9695 17.7404 11.0463C17.4874 11.1232 17.2751 11.2971 17.15 11.53L15.76 14.13C15.7445 14.1595 15.7351 14.1917 15.7323 14.2249C15.7294 14.2581 15.7333 14.2915 15.7435 14.3231C15.7538 14.3548 15.7702 14.3841 15.7919 14.4093C15.8137 14.4345 15.8402 14.4552 15.87 14.47L19 16.12C19.06 16.1486 19.1287 16.1531 19.1919 16.1327C19.2551 16.1122 19.3081 16.0683 19.34 16.01L20.68 13.41ZM16.43 3H16.69C17.0216 3.04507 17.3292 3.19758 17.5658 3.43419C17.8024 3.67079 17.9549 3.97844 18 4.31V4.57C18.0232 4.68551 18.0857 4.78941 18.1769 4.86406C18.268 4.93871 18.3822 4.9795 18.5 4.9795C18.6178 4.9795 18.732 4.93871 18.8231 4.86406C18.9143 4.78941 18.9768 4.68551 19 4.57V4.31C19.0451 3.97844 19.1976 3.67079 19.4342 3.43419C19.6708 3.19758 19.9784 3.04507 20.31 3H20.57C20.6855 2.97678 20.7894 2.91429 20.8641 2.82315C20.9387 2.732 20.9795 2.61782 20.9795 2.5C20.9795 2.38218 20.9387 2.268 20.8641 2.17685C20.7894 2.08571 20.6855 2.02322 20.57 2H20.31C19.9784 1.95493 19.6708 1.80242 19.4342 1.56581C19.1976 1.32921 19.0451 1.02156 19 0.69V0.43C18.9768 0.314494 18.9143 0.210589 18.8231 0.135939C18.732 0.0612892 18.6178 0.0204988 18.5 0.0204988C18.3822 0.0204988 18.268 0.0612892 18.1769 0.135939C18.0857 0.210589 18.0232 0.314494 18 0.43V0.69C17.9549 1.02156 17.8024 1.32921 17.5658 1.56581C17.3292 1.80242 17.0216 1.95493 16.69 2H16.43C16.3145 2.02322 16.2106 2.08571 16.1359 2.17685C16.0613 2.268 16.0205 2.38218 16.0205 2.5C16.0205 2.61782 16.0613 2.732 16.1359 2.82315C16.2106 2.91429 16.3145 2.97678 16.43 3ZM23.57 7H23.31C22.9784 6.95493 22.6708 6.80242 22.4342 6.56581C22.1976 6.32921 22.0451 6.02156 22 5.69V5.43C21.9768 5.31449 21.9143 5.21059 21.8231 5.13594C21.732 5.06129 21.6178 5.0205 21.5 5.0205C21.3822 5.0205 21.268 5.06129 21.1769 5.13594C21.0857 5.21059 21.0232 5.31449 21 5.43V5.69C20.9549 6.02156 20.8024 6.32921 20.5658 6.56581C20.3292 6.80242 20.0216 6.95493 19.69 7H19.43C19.3145 7.02322 19.2106 7.08571 19.1359 7.17685C19.0613 7.268 19.0205 7.38218 19.0205 7.5C19.0205 7.61782 19.0613 7.732 19.1359 7.82315C19.2106 7.91429 19.3145 7.97678 19.43 8H19.69C20.0216 8.04507 20.3292 8.19758 20.5658 8.43419C20.8024 8.67079 20.9549 8.97844 21 9.31V9.57C21.0232 9.68551 21.0857 9.78941 21.1769 9.86406C21.268 9.93871 21.3822 9.9795 21.5 9.9795C21.6178 9.9795 21.732 9.93871 21.8231 9.86406C21.9143 9.78941 21.9768 9.68551 22 9.57V9.31C22.0451 8.97844 22.1976 8.67079 22.4342 8.43419C22.6708 8.19758 22.9784 8.04507 23.31 8H23.57C23.6855 7.97678 23.7894 7.91429 23.8641 7.82315C23.9387 7.732 23.9795 7.61782 23.9795 7.5C23.9795 7.38218 23.9387 7.268 23.8641 7.17685C23.7894 7.08571 23.6855 7.02322 23.57 7Z"
                            fill="currentColor"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_19_14">
                            <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

                {{ 'video.edit' | trans }}
            </a>
        </li>
        <li>
            <form action="{{ path('app_video_delete', { id: video.id }) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-video') }}">
                <input type="hidden" name="_method" value="DELETE">
            </form>
            <a href="{{ path('app_video_delete', { id: video.id }) }}"
               onclick="return confirm('{{ 'video.confirm.del' | trans }}') && this.previousElementSibling.submit()"
               style="color: #ff723e">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_19_16)">
                        <path
                            d="M0.762997 8.25C0.762997 8.54547 0.821195 8.83806 0.934268 9.11104C1.04734 9.38402 1.21307 9.63206 1.42201 9.84099C1.63094 10.0499 1.87898 10.2157 2.15196 10.3287C2.42494 10.4418 2.71752 10.5 3.013 10.5C3.30847 10.5 3.60105 10.4418 3.87403 10.3287C4.14702 10.2157 4.39506 10.0499 4.60399 9.84099C4.81292 9.63206 4.97865 9.38402 5.09173 9.11104C5.2048 8.83806 5.263 8.54547 5.263 8.25C5.263 7.65326 5.02594 7.08097 4.60399 6.65901C4.18203 6.23705 3.60973 6 3.013 6C2.41626 6 1.84396 6.23705 1.42201 6.65901C1.00005 7.08097 0.762997 7.65326 0.762997 8.25ZM0.762997 16.446C0.756684 16.7454 0.810202 17.043 0.920414 17.3215C1.03063 17.5999 1.19531 17.8536 1.40482 18.0676C1.61434 18.2815 1.86445 18.4515 2.14052 18.5676C2.41658 18.6836 2.71303 18.7434 3.0125 18.7434C3.31196 18.7434 3.60842 18.6836 3.88448 18.5676C4.16054 18.4515 4.41066 18.2815 4.62017 18.0676C4.82968 17.8536 4.99437 17.5999 5.10458 17.3215C5.21479 17.043 5.26831 16.7454 5.262 16.446C5.24959 15.8576 5.00714 15.2975 4.58663 14.8858C4.16612 14.474 3.60102 14.2434 3.0125 14.2434C2.42397 14.2434 1.85888 14.474 1.43837 14.8858C1.01785 15.2975 0.775403 15.8576 0.762997 16.446Z"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path
                            d="M2.34 10.397L9.731 14.778L13.932 17.267M2.34 14.3L6.657 11.741M9.737 12V2.25C9.737 1.85218 9.89503 1.47064 10.1763 1.18934C10.4576 0.908035 10.8392 0.75 11.237 0.75H23.237V14.25M9.737 18V21.75C9.737 22.1478 9.89503 22.5294 10.1763 22.8107C10.4576 23.092 10.8392 23.25 11.237 23.25H23.237V14.25M14.237 9.75V0.75M14.237 23.25V20.25M9.737 5.25H14.237M23.237 14.25H15.737M9.737 9.75H23.237"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_19_16">
                            <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

                {{ 'video.del' | trans }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {% if video.premium and not app.user %}
        <div class="content">
            {{ video.description | u.truncate(video.description | length / 15, '...') | markdown_to_html }}
            <a href="{{ path('app_login') }}" class="btn btn-primary">{{ 'auth.connect_to_read' | trans }}</a>
        </div>
    {% else %}
        <div class="content">
            {{ video.description | markdown_to_html }}
        </div>
    {% endif %}
{% endblock %}
