<nav class="navbar navbar-expand-lg bg-white">
	<div class="container">
		<a class="navbar-brand" href="{{ path('app_home') }}">SymfonyVie</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link {{ app.current_route == 'app_home' ? 'active' : '' }}"
						href="{{ path('app_home') }}"
					>
						{{ 'nav.home' | trans }}
					</a>
				</li>

				<li class="nav-item">
					<a
						class="nav-link {{ app.current_route starts with 'app_recipe_' ? 'active' : '' }}"
						href="{{ path('app_recipe_index') }}"
					>
						{{ 'recipe.text' | trans | plural }}
					</a>
				</li>
			</ul>

			<ul class="navbar-nav">
				{% if searchForm is defined %}
					<li class="nav-item">
						{{ form_start(searchForm, {attr: { class: 'd-flex' }}) }}
						{{ form_widget(searchForm.q, {'attr': {'class': 'me-2'}}) }}
						<button type="submit" class="btn btn-outline-success">Search</button>
						{{ form_end(searchForm) }}
					</li>
				{% endif %}
			</ul>

			<ul class="navbar-nav ms-auto">
				{% if app.user %}
					{% if app.user.isVerified %}
						<li class="nav-iem">
							<a href="{{ path('app_recipe_create') }}" class="btn btn-primary">
								{{ 'recipe.new' | trans }}
							</a>
						</li>
					{% endif %}

					<li class="nav-item">
						<a href="{{ path('app_account') }}"
						   class="nav-link {{ app.current_route == 'app_account' ? 'active' : '' }}"
						>
							{{ app.user.firstname }} {{ app.user.lastname }}
						</a>
					</li>

					<li class="nav-item">
						<a href="{{ path('app_logout') }}"
						   class="btn btn-danger {{ app.current_route == 'app_logout' ? 'active' : '' }}"
						>
							{{ 'nav.logout' | trans }}
						</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{ path('app_login') }}"
						   class="nav-link {{ app.current_route == 'app_login' ? 'active' : '' }}"
						>
							{{ 'nav.login' | trans }}
						</a>
					</li>

					<li class="nav-item">
						<a href="{{ path('app_register') }}"
						   class="nav-link {{ app.current_route == 'app_register' ? 'active' : '' }}"
						>
							{{ 'nav.register' | trans }}
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
