{% extends 'base.html.twig' %}

{% block title %}{{ 'password.reset' | trans }}{% endblock %}

{% block body %}
    <section class="auth-page">

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>{{ 'password.reset' | trans }}</h1>

        {{ form_start(requestForm, { attr: { class: 'auth-form' }}) }}
        {{ form_label(requestForm.email) }}
        {{ form_widget(requestForm.email) }}
        <span></span>
        <small>{{ 'password.reset_put_your_email' | trans }}</small>

        <button class="btn btn-primary" type="submit">{{ 'Send now' | trans }}</button>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
