{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .sticky-title {
            position: sticky;
            z-index: 1;
            top: 0;
            align-items: center;
            background: rgba(68, 92, 100, 0.54);
            backdrop-filter: blur(5px);
            padding: 8px;
            border-radius: 8px;
        }
    </style>
{% endblock stylesheets %}

{% block navigationLeft %}
    {{ knp_pagination_render(pins) }}
{% endblock navigationLeft %}

{% block body %}
    <div class="d-flex height-full p=3">
        <section class="container flex:full height-full">
            {% include 'components/_flashes.html.twig' %}

            <div>
                <h2 class="d-flex sticky-title">
                    <span class="flex:full">Tous les pins</span>
                    <a href="{{ path('app_pin_create') }}" class="btn btn-info">Nouveau</a>
                </h2>

                <div class="card-list">
                    {% for pin in pins %}
                        <article class="card">
                            <div class="card-picture">
                                <img src="{{ pin.imageName }}" width="300" height="200">
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">
                                    <a href="#" class="card-link">
                                        {{ pin.title | u.truncate(30, '...') }}
                                    </a>
                                </h3>

                                <p class="card-content">
                                    {{ pin.description | u.truncate(250, '...') }}
                                </p>

                                <time class="card-time">{{ pin.createdAt | ago(locale: 'fr') }}</time>
                                par
                                <span class="card-time">{{ pin.user.firstname }} {{ pin.user.lastname }}</span>
                            </div>

                            <a href="{{ path('app_pin_show', {
                                id: pin.id,
                            }) }}"></a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
